apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: argocd-ingress-gateway
  namespace: argocd
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      number: 443
      name: https
      protocol: HTTPS
    tls:
      mode: SIMPLE
      credentialName: argocd/argocd-ingress-cert # This should match the Certificate secretName
    hosts:
    - argo.aks.diehlabs.com # This should match a DNS name in the Certificate